article{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    box-sizing: border-box;
    background-color: black;
    padding: 8px 20px;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #ffffff;
    color: #000000;
}

.active{
    background-color: #ffffff;
    color: #000000;
}