.btn{
    padding: 1rem;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #ffffff;
    color: #000000;
}

.active{
    background-color: #ffffff;
    color: #000000;
}